# core dependencies
pandas
lxml
numpy
scipy
matplotlib
seaborn
altair
altair-viewer

# analysis
notebook
ipython
# nbterm
# euporie[html-mtable,images-timg]

# rendering
jupytext

# debugging
pdbpp
black
flake8
isort

# vim
pynvim
